<html>
    <head>
        <div class="text-bg-dark p-3"><h1> 모니터 고르기 </h1></div>
    </head>

    <body>
        <div class="dropdown-menu">
            <form class="px-4 py-3">
              <div class="mb-3">
                <label for="InsertFeatures" class="form-label">화면크기</label>
                <input type="text" class="form-control" id="scree_size" placeholder="27 or 32 (인치)">
              </div><br>
              <div class="mb-3">
                <label for="InsertFeatures" class="form-label">최대 해상도</label>
                <input type="text" class="form-control" id="pixel_size" placeholder="UHD or QHD or FHD">
              </div><br>
              <div class="mb-3">
                <label for="InsertFeatures" class="form-label">최대 주사율</label>
                <input type="text" class="form-control" id="screen_framerate" placeholder="원하는 주사율(Hz)를 입력">
              </div><br>
              <div class="mb-3">
                <label for="InsertFeatures" class="form-label">패널</label>
                <input type="text" class="form-control" id="screen_panel" placeholder="원하는 패널 종류를 입력 (IPS or VA or TN)">
              </div><br>
              <div class="mb-3">
                <label for="InsertFeatures" class="form-label">곡면형</label>
                <input type="text" class="form-control" id="screen_format" placeholder="커브드 or 평면">
              </div><br>
              <div class="mb-3">
                <label for="InsertFeatures" class="form-label">응답속도</label>
                <input type="password" class="form-control" id="response_speed" placeholder="0.1 ~ 0.5 (ms)">
              </div><br>
              <div class="mb-3">
                <nav class="navbar bg-light">
                    <div class="container-fluid">
                      <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                      </form>
                    </div>
                  </nav>
              </div>
              <button type="submit" class="btn btn-primary"><h3> Search </h3></button>
            </form>
          </div>
    </body>

</html>